.custom-header {
  z-index: 16 !important;
}

.custom-nav-header {
  border-bottom: none !important;

}

.custom-margin-top {
  margin-top: 9rem !important;
}

.custom-top {
  top: 52.188px !important;
}

@media only screen and (max-width: 991px) {
  .custom-navbar-collapse-top {
    top: 25px !important;
  }
}

@media only screen and (max-width: 767px) {
  .custom-top {
    top: 90.188px !important;
  }

  .custom-margin-top {
    margin-top: 11rem !important;
  }
}

@media only screen and (min-width: 991px) {
  .custom-nav-height {
    height: calc(100vh - 23rem) !important;
  }

  .ps-lg-6 {
    padding-left: 3.75rem !important;
  }
}
@media only screen and (min-width: 1017px) {
.main-content{
  margin-top: 3rem;
}
}

@media screen and (max-width: 991px) {
  .custom-nav-height {
    height: calc(100rem - 45rem) !important;
  }

  .header-custom-left {
    left: 0rem !important;
  }

  .main-content {
    margin-left: 0rem !important;
  }
  .main-content{
    margin-top: 5.5rem;
  }
}

@media screen and (min-width: 991px) {
  .header-custom-left {
    left: 19rem !important;
  }

  .main-content {
    margin-left: 19rem !important;
  }
}

.navbar-custom-width {
  max-width: 19rem !important;
}


.customize-box-buy {
  overflow: hidden
}

.customize-box-buy:before {
  content: '';
  background-color: rgba(26, 25, 25, .3);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 17
}

.customize-box-buy .customize-sidebar-buy {
  -webkit-transform: translateX(0);
  transform: translateX(0)
}

.muze-rtl.customize-box-buy .customize-sidebar-buy {
  -webkit-transform: translateX(0)
}

.customize-sidebar-buy {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99;
  background-color: #f8f9fa;
  width: 29.6875rem;
  height: 100vh;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  transition: all ease .4s
}

.customize-sidebar-buy .btn-light:hover {
  background-color: #cfe2ff !important;
  border-color: #cfe2ff !important
}

.customize-sidebar-buy .btn-light:hover svg path {
  fill: #0d6efd
}

.customize-box-buy .customize-sidebar-buy {
  -webkit-transform: translateX(0);
  transform: translateX(0)
}
.muze-dark-mode.user-profile-template .customize-sidebar-buy p .text-gray-700,
.muze-dark-mode.user-profile-template .customize-sidebar-buy p.text-gray-700 {
    color: #6c757d !important
}

.muze-dark-mode.user-profile-template .customize-sidebar-buy p svg path {
    fill: #6c757d
}
.muze-dark-mode .customize-sidebar-buy {
  color: #1a1919
}

.muze-dark-mode .customize-sidebar-buy .display-1,
.muze-dark-mode .customize-sidebar-buy .display-2,
.muze-dark-mode .customize-sidebar-buy .display-3,
.muze-dark-mode .customize-sidebar-buy .display-4,
.muze-dark-mode .customize-sidebar-buy .display-5,
.muze-dark-mode .customize-sidebar-buy .display-6,
.muze-dark-mode .customize-sidebar-buy .h1,
.muze-dark-mode .customize-sidebar-buy .h2,
.muze-dark-mode .customize-sidebar-buy .h3,
.muze-dark-mode .customize-sidebar-buy .h4,
.muze-dark-mode .customize-sidebar-buy .h5,
.muze-dark-mode .customize-sidebar-buy .h6,
.muze-dark-mode .customize-sidebar-buy h1,
.muze-dark-mode .customize-sidebar-buy h2,
.muze-dark-mode .customize-sidebar-buy h3,
.muze-dark-mode .customize-sidebar-buy h4,
.muze-dark-mode .customize-sidebar-buy h5,
.muze-dark-mode .customize-sidebar-buy h6 {
  color: #1e1e1e
}
.muze-dark-mode .customize-sidebar-buy .btn-light {
  background-color: #fff !important;
  border-color: #fff !important;
  color: #1e1e1e
}

.muze-dark-mode .customize-sidebar-buy .btn-light:hover {
  background-color: #e6f0ff !important;
  border-color: #e6f0ff !important
}

.muze-dark-mode .customize-sidebar-buy .btn-light:hover svg path {
  fill: #0d6efd
}

.muze-dark-mode .customize-sidebar-buy .btn-light svg path {
  fill: #1e1e1e
}

.muze-dark-mode .customize-sidebar-buy .border-gray-200 {
  border-color: #e9ecef !important
}

.muze-dark-mode .customize-sidebar-buy .bg-white {
  background-color: #fff !important
}

.muze-dark-mode .customize-sidebar-buy .text-gray-600 {
  color: #6c757d !important
}

.muze-dark-mode .customize-sidebar-buy .btn-outline-dark:not(:hover) {
  border-color: #212529 !important;
  color: #212529 !important
}
.muze-rtl.customize-box-buy .customize-sidebar-buy {
  -webkit-transform: translateX(0);
  transform: translateX(0)
}

@media screen and (max-width:639px) {

  .customize-sidebar-buy {
      width: 25rem
  }
}

@media screen and (max-width:479px) {
  .customize-sidebar-buy {
      width: 100%
  }
}
.close-btn-info{
  cursor: pointer;
}
.customize-box-sendEmails {
  overflow: hidden
}

.customize-box-sendEmails:before {
  content: '';
  background-color: rgba(26, 25, 25, .3);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 17
}

.customize-box-sendEmails .customize-sidebar-sendEmails {
  -webkit-transform: translateX(0);
  transform: translateX(0)
}

.muze-rtl.customize-box-sendEmails .customize-sidebar-sendEmails {
  -webkit-transform: translateX(0)
}

.customize-sidebar-sendEmails {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99;
  background-color: #f8f9fa;
  width: 29.6875rem;
  height: 100vh;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  transition: all ease .4s
}

.customize-sidebar-sendEmails .btn-light:hover {
  background-color: #cfe2ff !important;
  border-color: #cfe2ff !important
}

.customize-sidebar-sendEmails .btn-light:hover svg path {
  fill: #0d6efd
}

.customize-box-sendEmails .customize-sidebar-sendEmails {
  -webkit-transform: translateX(0);
  transform: translateX(0)
}
.muze-dark-mode.user-profile-template .customize-sidebar-sendEmails p .text-gray-700,
.muze-dark-mode.user-profile-template .customize-sidebar-sendEmails p.text-gray-700 {
    color: #6c757d !important
}

.muze-dark-mode.user-profile-template .customize-sidebar-sendEmails p svg path {
    fill: #6c757d
}
.muze-dark-mode .customize-sidebar-sendEmails {
  color: #1a1919
}

.muze-dark-mode .customize-sidebar-sendEmails .display-1,
.muze-dark-mode .customize-sidebar-sendEmails .display-2,
.muze-dark-mode .customize-sidebar-sendEmails .display-3,
.muze-dark-mode .customize-sidebar-sendEmails .display-4,
.muze-dark-mode .customize-sidebar-sendEmails .display-5,
.muze-dark-mode .customize-sidebar-sendEmails .display-6,
.muze-dark-mode .customize-sidebar-sendEmails .h1,
.muze-dark-mode .customize-sidebar-sendEmails .h2,
.muze-dark-mode .customize-sidebar-sendEmails .h3,
.muze-dark-mode .customize-sidebar-sendEmails .h4,
.muze-dark-mode .customize-sidebar-sendEmails .h5,
.muze-dark-mode .customize-sidebar-sendEmails .h6,
.muze-dark-mode .customize-sidebar-sendEmails h1,
.muze-dark-mode .customize-sidebar-sendEmails h2,
.muze-dark-mode .customize-sidebar-sendEmails h3,
.muze-dark-mode .customize-sidebar-sendEmails h4,
.muze-dark-mode .customize-sidebar-sendEmails h5,
.muze-dark-mode .customize-sidebar-sendEmails h6 {
  color: #1e1e1e
}
.muze-dark-mode .customize-sidebar-sendEmails .btn-light {
  background-color: #fff !important;
  border-color: #fff !important;
  color: #1e1e1e
}

.muze-dark-mode .customize-sidebar-sendEmails .btn-light:hover {
  background-color: #e6f0ff !important;
  border-color: #e6f0ff !important
}

.muze-dark-mode .customize-sidebar-sendEmails .btn-light:hover svg path {
  fill: #0d6efd
}

.muze-dark-mode .customize-sidebar-sendEmails .btn-light svg path {
  fill: #1e1e1e
}

.muze-dark-mode .customize-sidebar-sendEmails .border-gray-200 {
  border-color: #e9ecef !important
}

.muze-dark-mode .customize-sidebar-sendEmails .bg-white {
  background-color: #fff !important
}

.muze-dark-mode .customize-sidebar-sendEmails .text-gray-600 {
  color: #6c757d !important
}

.muze-dark-mode .customize-sidebar-sendEmails .btn-outline-dark:not(:hover) {
  border-color: #212529 !important;
  color: #212529 !important
}
.muze-rtl.customize-box-sendEmails .customize-sidebar-sendEmails {
  -webkit-transform: translateX(0);
  transform: translateX(0)
}

@media screen and (max-width:639px) {

  .customize-sidebar-sendEmails {
      width: 25rem
  }
}

@media screen and (max-width:479px) {
  .customize-sidebar-sendEmails {
      width: 100%
  }
}
.influencers-dropdown{
  transform: translate(0px, 49px) !important;
}